<div class="row">
    <h1>Work experience</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Virtual Environment Tutor (VET) | INTI </h1>
                <h3> (feb. 2022 - actualidad)</h3>
            </li>
            <p>#ArgentinaPrograma #YoProgramo - Full Stack Web Developer (Angular, Java Spring Boot, MySQL)</p>
        </ul>
        <ul>
            <li>
                <h1>In charge | HacheTeMeLe5 </h1>
                <h3> (mar. 2011 - actualidad)</h3>
            </li>
            <p>IT Support: I work in the repair, sale and advice of Hardware and Software and also as a web developer.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Software QA Analyst, UX/UI Designer | anatod </h1>
                <h3> (mar. 2017 - jul. 2019)</h3>
            </li>
            <p>I have worked as a Freelance consultant for the QA and UX/UI Design team (PHP, Ionic Framework).</p>
        </ul>
    </div>
</div>