<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.JPG" class="img-fluid" id="profile">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="name">Danilo Maccari</h2>
        <p id="title">Tecnico Superior en Computacion, Orientacion Administrativa</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>Desde 2006 soy Soporte TI y desde 2011 realizo cursos de desarrollo de software, soy Técnico Superior en Computación y cuento con 4 años de estudio formal de inglés. Estoy en la busqueda de trabajo como Desarrollador web, me siento cómodo con Ruby on Rails, también con Python Django y node.js en realidad con el patrón MVC. Se agradecen recomendaciones para llegar a más gente o si saben de algo. Gracias. #WebDevelop #RubyOnRails #PythonDjango #NodeJS #TrabajoTI</p>

            <p>Since 2006 I have been IT Support and since 2011 I have been taking software development courses, I am a Superior Technician in Computing and I have 4 years of formal English study. I'm looking for a job as a Web Developer, I'm comfortable with Ruby on Rails, also with Python Django and node.js actually with the MVC pattern. Recommendations are appreciated to reach more people or if they know of something. Thank you. #WebDevelop #RubyOnRails #PythonDjango #NodeJS #ITWork</p>
        </span>
    </div>
</div>

