<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.JPG" class="img-fluid" id="profile">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="name">Danilo Maccari</h2>
        <p id="title">"Superior Technician in Computing, Administrative Orientation" from the Higher School of Commerce, dependent on the National University of the South</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About</h1>
            <p>Since 2006 I have been IT Support and since 2011 I have been taking software development courses, I am a Superior Technician in Computing and I have 4 years of formal English study. I'm looking for a job as a Web Developer, I'm comfortable with Ruby on Rails, also with Python Django and node.js actually with the MVC pattern. Recommendations are appreciated to reach more people or if they know of something. Thank you. #WebDevelop #RubyOnRails #PythonDjango #NodeJS #ITWork</p>
        </span>
    </div>
</div>

