<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/argProg.png" style="margin-left: 20px;" id="argProg">
        </div>
        <div class="networks">
            <a href="https://twitter.com/maccari78" target="_blank"><img src="../../../assets/twitter.png"
                    style="margin-right: 10px;" id="twitter"></a>
            <a href="https://github.com/maccari78" target="_blank"><img src="../../../assets/github.png"
                    style="margin-right: 10px;" id="github"></a>
            <button type="button" class="btn btn-outline-light" style="margin-right: 25px;" (click)="login()">Login</button>
        </div>
    </div>
</div>