<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tecnico Superior en Computacion, Orientacion Administrativa -</h1>
                <h3> 2015 - 2021</h3>
            </li>
            <p>Escuela Superior de Comercio, dependiente de la Universidad Nacional del Sur. Bahia Blanca</p>
        </ul>
        <ul>
            <li>
                <h1>Tecnico Superior en Comercializacion (Marketing) -</h1>
                <h3> 1998 - 2002</h3>
            </li>
            <p>Instituto Superior Pedro Goyena. Bahia Blanca</p>
        </ul>
    </div>
</div>

