<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 part01">
            <h2>Rails Friends</h2>
            <p>FriendsApp CRUD with Login on Ruby on Rails. Special thanks to freecodecamp.org, codemy.com and John Elder</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part02">
            <img src="../../../assets/friendsApp.jpg" class="img-fluid img-projects">
        </div>
    </div>
</div>
