<div class="row">
    <h1>Fulfilled projects</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 part01">
            <h2>friendsApp</h2>
            <p>CRUD with multiple Logins and lists<br> (Ruby on Rails)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part02">
            <img src="../../../assets/friendsApp.jpg" class="img-fluid img-projects">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 part01">
            <h2>jwtAuth</h2>
            <p>CRUD with JWT Authentication, Update & Refresh Token, Swagger and Forgot Password<br> (Angular, Spring Framework, MySQL)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part02">
            <img src="../../../assets/jwtAuth.jpg" class="img-fluid img-projects">
        </div>
    </div>
</div>