<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tutor de entorno virtual (TEV), INTI -</h1>
                <h3> feb. 2022 - actualidad</h3>
            </li>
            <p>#ArgentinaPrograma #YoProgramo - Full Stack Web Developer (Angular, Java Spring Boot, MySQL)</p>
        </ul>
        <ul>
            <li>
                <h1>Encargado, HacheTeMeLe5 -</h1>
                <h3> mar. 2011 - actualidad</h3>
            </li>
            <p>Soporte TI: Me desempeño en la reparación, venta y asesoramiento de Hardware y Software y también como desarrollador web.</p>
        </ul>
        <ul>
            <li>
                <h1>Software QA Analyst - UX/UI Designer, anatod -</h1>
                <h3> mar. 2017 - jul. 2019</h3>
            </li>
            <p>Me he desempeñado como asesor Freelance del equipo de QA y UX/UI Design (PHP, Ionic Framework).</p>
        </ul>
    </div>
</div>
